@media only screen and (max-width: 991px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 4.375rem;
        background-color: #faf7f2;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease, visibility 0.4s ease;
        z-index: 9999;
        gap: 20px;
    }

    .personal_banner {
        height: 22.625rem;
    }

    .navbar li {
        padding: 0.9375rem;

    }

    .navbar li:first-child {
        margin-top: 3.125rem;

    }

    .navbar li a {
        font-size: 1rem;
        color: #000;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .hero-bg {
        padding: 70px 0;
        height: auto;

    }
    section.inner-bnr {
        height: auto;
        padding: 80px 0;
    }

    .people-say-text {
        top: 38px;
        width: 70%;
        }

    .people-say-text-second {
        width: 70%;
    }

    .after-banner-text {
        padding: 0px 10px;
    }
}


@media (max-width: 767px) {
    .zeuzie-listings {
      flex-direction: column;
      align-items: center;
    }

   
    .footer_list {
        gap: 2rem;
    }
    .email-detail {
        padding: 40px 40px;
        text-align: center;
    }

    .top-hotel-text {
        width: 100%;
        padding: 30px 30px 10px 30px;
    }

    .top-hotel-main {
        width: 100%;
    }

    .people-say-text {
        position: static;
        width: 100%;
        padding: 45px 0px 0;
    }

    .people-say-text-second {
        position: static;
        width: 100%;
        padding: 45px 0px 0;
    }

    .listing {
        width: 100%;
    }

    .pt-80 {
        padding-top: 40px;
    }

    .after-banner-text {
        padding: 0px 0px;
    }
  }




  @media(max-width:575px){
    
    .footer_btmWrapp {
      flex-direction: column;
      text-align: center;
      gap: 0.3rem;
    }
    .ssl {
        width: 100%;
        justify-content: center;
    }
    .navbar {
        grid-template-columns: 1fr 1fr;
    }
    .hero-text h1 {
        font-size: 40px;
    }

    .why-choose-heading h2 {
        font-size: 30px;
    }

    .read-more-heading h2 {
        font-size: 30px;
    }
}