@media only screen and (max-width: 991px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 4.375rem;
        background-color: #faf7f2;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease, visibility 0.4s ease;
        z-index: 9999;
        gap: 10px;
    }

    .personal_banner {
        height: 22.625rem;
    }

    .navbar li {
        padding: 0.9375rem;

    }

    .navbar li:first-child {
        margin-top: 3.125rem;

    }

    .navbar li a {
        font-size: 1rem;
        color: #000;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .hero-bg {
        padding: 70px 0;
        height: auto;

    }
    section.inner-bnr {
        height: auto;
        padding: 80px 0;
    }

    .people-say-text {
        top: 38px;
        width: 70%;
        }

    .people-say-text-second {
        width: 70%;
    }

    .after-banner-text {
        padding: 0px 10px;
    }
    .hero-text {
        margin: 100px 0;
    }
}


@media (max-width: 767px) {
    .zeuzie-listings {
      flex-direction: column;
      align-items: center;
    }

   
    .footer_list {
        gap: 2rem;
    }
    .email-detail {
        padding: 40px 40px;
        text-align: center;
    }

    .top-hotel-text {
        width: 100%;
        padding: 30px 30px 10px 30px;
    }

    .top-hotel-main {
        width: 100%;
    }

    .people-say-text {
        position: static;
        width: 100%;
        padding: 26px 10px 10px;
    }

    .people-say-text-second {
        position: static;
        width: 100%;
        padding: 26px 10px 10px;
    }

    .listing {
        width: 100%;
    }

    .pt-80 {
        padding-top: 40px;
    }

    .pt-60 {
        padding-top: 40px;
    }

    .after-banner-text {
        padding: 0px 0px;
    }

    .why-choose {
        height: auto;
        margin-bottom: 20px;
    }

    .inner-card {
        height: auto;
        margin-bottom: 20px;
    }

    .what-be-do {
        height: auto;
    }

    .zuezie-card {
        margin-bottom: 20px;
        height: auto;
    }

    .after-banner-text-main {
        padding: 23px 30px 23px 30px;
    }

    .high-stakes-banner {
        height: 21.625rem;
    }

    .hero-text {
        margin: 100px 0;
    }
  }




  @media(max-width:575px){
    
    .footer_btmWrapp {
      flex-direction: column;
      text-align: center;
      gap: 0.3rem;
    }
    .ssl {
        width: 100%;
        justify-content: center;
    }
    .navbar {
        grid-template-columns: 1fr 1fr;
    }
    .hero-text h1 {
        font-size: 35px;
    }

    .why-choose-heading h2 {
        font-size: 30px;
        line-height: 33px;
    }

    .read-more-heading h2 {
        font-size: 30px;
    }
    h2.booking-hotel-heading {
        font-size: 30px;
        line-height: 34px;
    }

    .athens-heading h2 {
        font-size: 30px;
        line-height: 33px;
    }

    .organize-text h2 {
        font-size: 30px;
        line-height: 38px;
    }
    .top-hotel-text a h2 {
        font-size: 30px;
    }

    
    .footer_disclaimer {
        margin-bottom: 1.2rem;
    }
    .footer_list {
        gap: 2rem !important;
    }

    .footer_item a {
        font-size: 18px;
    }

    .footer_list {
        display: inline;
    }

    .footer_navbar {
        text-align: center;
    }
}

@media(max-width:425px){
    .newsletter_formWrap {
        max-width: 480px;
        width: 100%;
        flex-direction: column;
         background-color: #00000000;
    }

    .newsletter_formWrap .newsletter_input {
        background-color: #fff;
        padding: 12px;
        width: 90%;
    }
    .high-stakes-banner {
        height: 21.625rem;
    }

    .top-hotel-heading h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .after-banner-text p {
        margin-bottom: 0;
    }

    .athens-text ul li {
        padding-bottom: 15px;
    }

    .athens-text {
        padding-top: 20px;
    }

    .organize-text {
        padding-top: 40px;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .btn {
        padding: 12px 15px;
    }

    .people-say-img {
        height: 350px;
    }

   

    .top-hotel-text a h2 {
        font-size: 27px;
        line-height: 32px;
    }

    .top-hotel-text {
        width: 100%;
        padding: 30px 20px 10px 20px;
    }

    .hero-text {
        margin: 60px 0;
    }

    .what-be-do-heading h2 {
        font-size: 30px;
    }
    .personal-page-content h2 {
        font-size: 26px;
        line-height: 32px;
    }
}