@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    /* color:; */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


body{
    background-color: #000000e7;
}

.main-scroll{
    overflow: hidden;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #3f8a60;
    border-radius: 10px;
}

/* header css start */

header {
    background-color: #fff;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.10);
    padding: 0.75rem 0;
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
}

/* Sticky Header Effects */
header.sticky {
    border-bottom: 0.0625rem solid rgba(255, 200, 39, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.0625rem 0.25rem;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    overflow: hidden;
}

.navbar img {
    max-width: 9.5rem;
    justify-self: start;
    /* margin-left: 1.25rem; */
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    padding: 0 0 0 24px;
}

.nav-item a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    position: relative;
    padding-bottom: 6px;
}

.nav-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 0.3125rem;
    height: 0.09375rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e1bd85;
    transform-origin: center;
    transition: all 0.3sease-out;
}

.logo {
    background-image: url(../images/logo.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 43px;
}

.nav-item a.active::after {
    transform: scaleX(0.9);
    transform-origin: center;
}

.nav-item a.active, .nav-item a:hover {
    color: #e1bd85;
}
.mb-20 {
    margin-bottom: 20px;
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .mb-40 {
    margin-bottom: 40px;
  }
  
  .mt-40 {
    margin-top: 40px;
  }
  
  .mb-60 {
    margin-bottom: 60px;
  }
  
  .mt-60 {
    margin-top: 60px;
  }
  
  .mb-80 {
    margin-bottom: 80px;
  }

  .pt-80{
    padding-top: 80px;
  }
  
  .mt-80 {
    margin-top: 80px;
  }
  
  .pt-120 {
    padding-top: 120px;
  }

/* 
=================================
Mobile Menu Styles
=================================
*/
.menu-toggle {
    justify-self: end;
    margin-right: 1.5625rem;
    display: none;
}

.menu-toggle .bar {
    width: 1.5625rem;
    height: 0.1875rem;
    background-color: #000;
    margin: 0.3125rem auto;
    transition: all 0.3s ease-in-out;
}

.menu-toggle:hover {
    cursor: pointer;
}

/* Mobile Menu Active State */

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
}

/* 
=================================
Keyframe Animations
=================================
*/
@keyframes gradbar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* banner section css start */

.hero-bg {
    background: url(../images/home-banner-main.webp);
    width: 100%;
    padding: 140px 0;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 640px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 1;
}

.hero-bg::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    z-index: -1;
}

.hero-bnr {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.hero-text {
    max-width: 900px;
    margin: auto;
    transition: opacity 1s ease-in-out;
    margin-bottom: 100px;
}

.hero-text2 p {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

.hero-text2 {
    margin-top: 2rem;
}


.hero-text h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* banner section end */




/* after banner css start */

.after-banner-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.after-banner-text h6 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 0;
    font-weight: 600;
    padding-top: 20px;
}

.after-banner-text p {
    font-size: 18px;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
    padding-top: 15px;
    margin-bottom: 0;
}

.after-banner-text {
    padding: 45px 10px;
}

/* after banner css end */





/* people say css start */

.people-say-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 420px;
}

.people-say-text {
    background: #000000f5;
    padding: 45px 20px;
    position: absolute;
    top: 45px;
    width: 50%;
    left: 25px;
    bottom: 45px;
}

.people-say-inner {
    position: relative;
}

.people-say-text p {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 25px;
}

.people-say-text h4 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    line-height: 100%;
    padding-bottom: 25px;
}


.people-say-text-second {
    background: #000000f5;
    padding: 45px 20px;
    position: absolute;
    top: 60px;
    width: 50%;
    right: 25px;
    bottom: 60px;
}

.people-say-text-second h4 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    line-height: 100%;
    padding-bottom: 25px;
}

.people-say-text-second p {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 25px;
}

p.first-text {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 15px;
}

/* people say css end */




/* why choose us css start */

.why-choose-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.why-choose-heading h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 100%;
    padding-bottom: 20px;
    text-align: center;
}

.why-choose-text {
    text-align: center;
    padding-top: 20px;
}

.why-choose-img svg {
    width: 60px;
    height: 60px;
    transition: 0.4s all ease-in-out;
}

.why-choose {
    height: 100%;
    background: #e1bd85;
    padding: 15px;
    border-radius: 10px;
    transition: 0.4s all ease-in-out;
    box-shadow: rgb(240 237 237 / 51%) 0px 5px 15px;
    border: 2px solid #FFEB3B;
}

.why-choose:hover {
    background: #fff;
}

.why-choose:hover svg {
    fill: #e1bd85;
}

.why-choose-text p {
    font-size: 18px;
    color: #000;
    line-height: 25px;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0;
}

.why-choose-text h2 {
    font-size: 25px;
    color: #000;
    line-height: 100%;
    font-weight: 600;
    margin-bottom: 0;
}

/* why choose us css end */




/* read more zeuzie css start */


  .read-more-heading h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}

  .zeuzie-listings {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }

  .listing {
    flex: 1 1 30%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 1rem;
    margin-bottom: 20px;
}

  .listing img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .listing h3 {
    margin: 0.5rem 0;
    color: #000;
  }

  .listing p {
    color: #555;
  }

  .listing a {
    text-decoration: none;
  }

  .listing a:hover h3 {
    text-decoration: underline;
    color: #af8c3e;
}

  .read-more-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.4s all ease-in-out;
}

.read-more-main {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.read-more-img:hover {
    transform: scale(1.2);
}

/* read more zeuzie css end */


/*newsletter sec  */
.newsletter {
    background-image: url("../images/news-letter-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.newsletter::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(26 0 0 / 50%)
}

.newsletter_formWrap {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: center;
    background-color:#fff;
    max-width: 480px;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
}

.newsletter_formWrap .newsletter_input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 16px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #222;
}

.newsletter_formWrap .newsletter_input::placeholder {
    color: #222;
    opacity: 50%;
}

.newsletter_wrapper {
    background-color: #1e1e1ed6;
    padding: 24px;
    max-width: 700px;
    margin-inline: auto;
    position: relative;
    z-index: 1;
}

.newsletter_wrapper .page-heading {
    margin-bottom: 8px;
}

.newsletter_content p {
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 400;
    background: #ab8a62;
    line-height: normal;
    border: 1px solid transparent;
    outline: none;
    transition: 0.3s ease-in-out;
    position: relative;
    color: #fff;
    cursor: pointer;
}

.btn:hover{
    color: #e1bd85;
    background-color: #fff;
    border: 1px solid #e1bd85;
}

h2.page-heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}



 /* footer css start */
  

 .footer_disclaimer {
    margin-bottom: 2.2rem;
    text-align: center;
}

.footer_disclaimer h4 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 1.25rem;
}

.footer_disclaimer p {
    color: #fff;
}

.footer_navbar {
    border-bottom: 1px solid gray;
    padding-bottom: 2.2rem;
}

.footer_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 2rem;
}

.footer_item a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.footer_item a:hover {
    color: #e1bd85;
}

.footer_btm {
    padding-block: 24px;
}

.copyright p {
    color: #fff;
}

.footer_btmWrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ssl {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sslLink {
    background-image: url("../images/ssl-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 134px;
    width: 100%;
    height: 47px;
    display: inline-block;
}

.socials {
    padding-block: 2rem;
}

.social_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social a {
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.social a:hover {
    background-color: #e1bd85;
    border-color: transparent;
    transform: translateY(-10px);
    color: #fff;
}

.social i {
    font-size: 24px;
    color: #fff;
}

.social a svg {
    height: 100%;
    width: 100%;
    fill: #fff;
    padding: 9px;
}
.social svg {
    padding: 5px;
}






/* ==================================================== */
.hotel-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.hotel-image:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* ============================================================ */



/* ++++++++++++++++++++++++++++++++++++ */


/* athens page css start */


/* banner css start */
.high-stakes-banner {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 29.625rem;
    position: relative;
}

.high-stakes-banner::before {
    content: '';
    position: absolute;
    background: rgba(0 0 0 / 40%);
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.banner_box {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 80%;
    transform: translate(-50%, -50%);
}

.banner_box h1 {
    font-size: 40px;
    font-weight: 700;
}

/* banner css end */




/* top hotel css start */

.top-hotel-heading {
    text-align: center;
    padding-bottom: 20px;
}

.top-hotel-heading h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 100%;
}

.top-hotel-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
}

.top-hotel-inner {
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.top-hotel-inner {
    display: flex;
    justify-content: space-between;
    background: #fff;
    flex-wrap: wrap;
}

.top-hotel-text {
    width: 50%;
    height: 100%;
    background: #fff;
    padding: 60px 30px 10px 30px;
}

.top-hotel-main {
    width: 50%;
    height: 100%;
}

.top-hotel-text a h2 {
    font-size: 32px;
    color: #af8c3e;
    font-weight: 600;
    line-height: 100%;
    padding-bottom: 20px;
}

.top-hotel-text p {
    font-size: 18px;
    line-height: 25px;
    color: #000;
    padding-bottom: 10px;
}

/* top hotel css end */


/* Popular area in athens css start */

.athens-heading h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.athenes-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 333px;
    border-radius: 10px;
}

.athens-text ul li {
    font-size: 18px;
    color: #fff;
    line-height: 27px;
    padding-bottom: 20px;
}

.athens-text {
    padding-top: 60px;
}

/* Popular area in athens css end */


/* tips for booking hotel css start */
.card i {
    color: #007bff;
    transition: transform 0.3s ease;
  }
  
  .card:hover i {
    transform: scale(1.2);
  }
  
  
  .card {
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
  }

  .card-body svg {
    width: 50px;
    height: 50px;
}
  
  .card:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
 
  .card-title {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  
  .card-text {
    font-size: 0.95rem;
    color: #555;
  }

  h2.booking-hotel-heading {
    font-size: 40px;
    color: #fff;
    padding-bottom: 20px;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
}

/* tips for booking hotel css end */


/* organize stay hotel css start */
.organize-text h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 100%;
    padding-bottom: 20px;
}

.organize-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 340px;
    border-radius: 10px;
}

.organize-text p {
    font-size: 18px;
    color: #fff;
    line-height: 25px;
}

.organize-text {
    padding-top: 65px;
}

/* organize stay hotel css end */


.tip-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }

  .tip {
    position: relative;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }

  .tip::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .tip-content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px;
    max-width: 90%;
  }

  .tip h3 {
    margin-top: 0;
    font-size: 1.6rem;
  }

  .tip p {
    font-size: 1rem;
    margin: 0.5em 0 0 0;
  }



/* get in touch page start */

.contact-form {
    background-color: #e1bd85;
}

.email-detail {
    padding: 150px 40px;
}

.email-detail p a:hover {
    color: #fff;
}

.contact-form-inner {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
textarea {
    height: 90px;
    resize: none;
}

.unique-button1 {
    position: relative;
    display: inline-block;
    padding: 11px 19px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #e1bd85;
    border: 2px solid #e1bd85;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.unique-button1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.unique-button1:active {
    transform: scale(0.98);
}

.unique-button1:hover {
    background-color: transparent;
    color: #e1bd85;
    border: 2px solid #e1bd85;
}

.email-detail p a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.email-detail p {
    font-size: 18px;
    line-height: 25px;
    padding-top: 10px;
}

.email-detail h5 {
    font-size: 24px;
    line-height: 25px;
}



/* relative page css start */

.what-be-do {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 370px;
}

.what-be-do-heading h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 20px 0;
    line-height: 100%;
}

.inner-card {
    background-color: #e7edf3a3;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgb(39 139 145 / 68%) 0px 5px 15px;
    height: 100%;
}

.inner-card p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
    color: #000;
}

.zuezie-card {
    background-color: #e1bd85;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgb(193 193 205 / 28%) 0px 50px 100px -20px, rgb(10 10 10 / 30%) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 2px solid #ffc107ab;
}

.zuezie-card ul li {
    font-size: 18px;
    margin-bottom: 7px;
    color: #000;
    line-height: 25px;
}

p.zeuzie-footer {
    font-size: 18px;
    color: #fff;
    padding-top: 20px;
    line-height: 25px;
}

/* ======= */


/* privacy policy page css start */


.after-banner-text-main {
    font-size: 1rem;
    color: #000;
    line-height: 27px;
    padding: 23px 105px 23px 105px;
    text-align: center;
    background: #e1bd85;
    border-radius: 30px;
}

.after-banner-text-main p a {
    color: #000;
}

.after-banner-text-main p a:hover {
    color: #fff;
}

.after-banner-text-main p {
    font-size: 18px;
    color: #000;
    line-height: 25px;
    margin-bottom: 0;
}

.personal-page-content ul {
    padding-left: 20px;
}


.personal-page-content h2 {
    font-size: 30px;
    line-height: 1.4;
    color: #af8c3e;
    margin-bottom: 10px;
}

.personal-page-content p {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 10px;
}

.personal-page-content h4 {
    font-size: 20px;
    color: #af8c3e;
    font-size: 20px;
    margin-bottom: 0.9375rem;
    line-height: 1.4;
}

.personal-page-content p a {
    color: #fff;
}

.personal-page-content p a:hover {
    color: #ab8965;
}

.personal-page-content ul li {
    list-style: none;
    position: relative;
}

.personal-page-content ul li::before {
    content: ".";
    position: absolute;
    color: #fff;
    border-radius: 50%;
    left: -21px;
    top: -50px;
    font-size: 60px;
}

/* personal page section end */

/* ================================================================== */

.blog-post-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.4s all ease-in-out;
}

.home-blog-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.blog-post-image:hover{
    transform: scale(1.2);
}

.home-blogpost-heading h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    padding-bottom: 20px;
}

.blogpost-inner {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}

.blogpost-content {
    display: none;
}

button.close-text-button {
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 9px;
}

.main-btn:hover {
    border-color: #e1bd85;
    background-color: #fff;
    color: #e1bd85;
}

.main-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #e1bd85;
    color: #fff;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
}

button.close-text-button:hover svg {
    fill: #e1bd85;
}

.text-close svg {
    height: 17px;
    width: 17px;
    fill: #fff;
}

button.close-text-button {
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 9px;
}

.blogpost-text h3 {
    font-size: 28px;
    font-weight: 600;
    padding-top: 10px;
    color: #000;
}

.blogpost-content h5 {
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    color: #af8c3e;
}

.blogpost-content ul li {
    font-size: 18px;
    line-height: 25px;
    color: #000;
    padding-bottom: 10px;
}

.blogpost-text p {
    color: #000;
    font-size: 18px;
    line-height: 25px;
}

.blogpost-content ul li {
    position: relative;
}

.blogpost-content ul li::before {
    position: absolute;
    content: ".";
    left: -20px;
    top: -19px;
    font-size: 60px;
}

.blogpost-content ul {
    padding-left: 20px;
}

.zuezie-card ul li {
    padding-left: 20px;
    position: relative;
}

.zuezie-card ul li::before {
    position: absolute;
    content: ".";
    top: -18px;
    left: -1px;
    font-size: 60px;
}
